h2 {
    font-family: 'Lato', sans-serif; /* תתי כותרות */
    font-size: 24px; /* גודל תת כותרת */
    text-align: center;
}

.books-details {
    display: flex; 
    flex-direction: row;
}

table {
    flex: 0 0 72%;
    border-collapse: collapse;
    width: 100%;
}

.book-details {
    display: flex;
    flex-direction: column;
    flex: 0 0 25%; 
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    padding: 10px;
    margin-left: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.book-image {
    width: 100%; /* או גודל ספציפי כמו 150px */
    height: auto; /* שומר על פרופורציות התמונה */
    max-width: 200px; /* גודל מקסימלי, ניתן לשנות לפי הצורך */
    margin-bottom: 10px; /* רווח מתחת לתמונה */
    
}


th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    font-size: 24px;
    font-weight: bold;
}

.header-buttons {
    display: flex;
    gap: 10px;
}

footer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
}

